.statistics{
    padding: 80px 0;
    background: #F5F3FF;
}

.stat-card{
    background: white;
    border-radius: 20px;
    text-align: center;
    padding: 35px 20px;
    transition: .3s;
    box-shadow: 0 8px 20px rgba(0,0,0,.05);
}

.stat-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 18px 35px rgba(139,92,246,.18);
}

.stat-icon{
    font-size: 45px;
    color: #8B5CF6;
    margin-bottom: 15px;
}

.stat-card h2{
    font-weight: 700;
    color: #8B5CF6;
}

.stat-card p{
    color: #666;
    margin: 0;
}