.testimonials{

    padding:90px 0;

    background:white;

}

.testimonial-card{

    background:#fff;

    border-radius:20px;

    padding:35px;

    text-align:center;

    transition:.3s;

    box-shadow:0 8px 20px rgba(0,0,0,.05);

    height:100%;

}

.testimonial-card:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 35px rgba(139,92,246,.18);

}

.testimonial-card img{

    width:90px;

    height:90px;

    border-radius:50%;

    object-fit:cover;

    margin-bottom:20px;

}

.testimonial-card h5{

    margin-bottom:5px;

}

.testimonial-card small{

    color:#8B5CF6;

    display:block;

    margin-bottom:20px;

}

.testimonial-card p{

    color:#666;

}