*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --primary:#8B5CF6;

    --primary-dark:#7C3AED;

    --primary-light:#F5F3FF;

    --background:#FCFAFF;

    --text:#222;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--background);
    color: var(--text);
}

a{
    text-decoration: none;
}

button{
    border: none;
}

.section-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.section-subtitle{
    text-align: center;
    color: #666;
    margin-bottom: 50px;
}

/* Custom Buttons */

.purple-btn{

    background:#8B5CF6;
    color:white;
    border-radius:12px;
    transition:.3s;

}

.purple-btn:hover{

    background:#7C3AED;
    color:white;

}

.purple-outline{

    border:2px solid #8B5CF6;
    color:#8B5CF6;
    background:white;
    border-radius:12px;

}

.purple-outline:hover{

    background:#8B5CF6;
    color:white;

}

.text-purple{
    color: #6C3BFF;
}

.purple-btn,
.purple-outline {
    transition: all 0.3s ease;
}

.purple-btn:hover,
.purple-outline:hover {
    transform: translateY(-3px);
}