.forgot-icon {
    width: 60px;
    height: 60px;

    margin: 0 auto 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #dcfce7;

    color: #16a34a;

    font-size: 25px;
}

.back-login {
    text-align: center;

    margin-top: 25px;
    margin-bottom: 0;
}

.back-login a {
    color: #16a34a;

    text-decoration: none;

    font-weight: 600;
}

.back-login a:hover {
    color: #15803d;
}